body, html { 
  margin:0; 
  padding:0; 
  height: 100%}

.container {
  display: grid;
  grid-template-rows: 8% 75% 17%;
  height: 100vh;
}

#map { 
  margin: 5px;
  position:absolute; 
  left: 15%; 
  width: 70%; 
  height: 70%;
  border: 2px solid black }

  .mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.btn {
  color: black;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  color: #016d7b;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
}

.user__interaction {
    justify-content: center;
    align-items: center;
    display: flex;
}