body, html { 
  margin:0; 
  padding:0; 
  height: 100%}

.container {
  display: grid;
  grid-template-rows: 8% 65% 27%;
  height: 100vh;
}

#map { 
  margin: 5px;
  position:absolute; 
  left: 15%; 
  width: 70%; 
  height: 60%;
  border: 3px solid black
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #016d7b;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
}

.btn {
  color: black;
  background-color: #016d7b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn__container {
  width: 80vw;
  grid-area: 1/1;
  text-align: center;
}

.map__description {
  display: grid;
  grid-template-columns: 50% 50%;
}

.user__interaction {
    display: grid;
    grid-template-rows: 15% 85%;
    justify-content: center;
}